[Desktop Entry]
Name=BabyKeySmash
Comment=Fullscreen toy for babies : smash keys , pop dinosaurs and balloons
Exec=babykeysmash
Icon=babykeysmash
Terminal=false
Type=Application
Categories=Game;Education;
Keywords=baby;toddler;kids;keyboard;smash;
